out/
build/
ngn-build/
bin/
Debug/
Release/

.vs/
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf
*.ipch
*.ncb

CMakeCache.txt
CMakePresets.json
CMakeFiles/
cmake_install.cmake
Makefile

Thumbs.db
.DS_Store

*.log
*.tmp
*.obj
*.o
*.pdb

External/